/* NAVBAR - topo preto com logo e botão de menu */
header {
  background-color: #0D0D0D;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 20px;
  
}
/* em navbar.css ou no seu CSS */
.navbar { width: 100%; }
.navbar .logo { margin-left: auto; }  /* garante o logo à direita */


.menu-btn {
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.logo {
  height: 65px;
}

/* MENU LATERAL */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #111;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 999;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.sidebar ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.sidebar.active {
  left: 0;
}

/* Fundo escuro quando menu abre */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 998;
  display: none;
}
