body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

.page-container {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.menu-superior {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
}

.menu-lateral {
  width: 250px;
  background-color: #333;
  color: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.menu-lateral ul li a:hover {
  background-color: #444;
}

.logo {
  height: 40px;
}


header {
  background-color: #0D0D0D;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 🔥 joga menu pra esquerda e logo pra direita */
  padding: 0 20px;
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
}

.logo {
  height: 85px;
  margin: 0; /* 🔥 tira a centralização */
}


main {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 24px;
  justify-content: center;
  margin: 40px auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  padding: 1.2rem;
  height: 150px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 40px;
  height: 40px;
}

.card-cliente {
  background-color: #5E90F2;
}

.card-catalogo {
  background-color: #05DBF2;
}

.card-pedido {
  background-color: #05F2F2;
}

.card-relatorios {
  background-color: #BE44F2;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 600;
}
